p{
	color: orange;
}
h3{
	color: red;
}
.anhnen{
	border: 1px solid red;
	width: 15%;
	float: left;
	text-align: center;
	margin-left: 15px;
	text-decoration: none;

}
.anhnen2{
	border: 1px solid #c7c7c7;
	width: 15%;
	float: left;
	text-align: center;
	margin-left: 15px;
	text-decoration: none;
}
.anhnen2 a{
	text-decoration: none;
}
.anhnen a{
	text-decoration: none;
}
.anhnen:hover{
	color: blue;
	border: 1px solid  black;
}
.anhnen2:hover{
	color: blue;
	border: 1px solid black;
	
}
.hover1:hover{
	color: blue
}
	
.hover2:hover{
	color: green;
}
